/* Black #111 */
body {
  margin: 0px;
  font-family: 'Barriecito', cursive;
}

* {
  box-sizing: border-box;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.nav-top {
  font-size: 3em;
}

.nav-bottom {
  font-size: 1.5em;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  width: 80vw;
  color: white;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* display: flex;
  justify-content: space-around; */
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-image: url(../images/meditation-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-top {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.content-bottom {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.content-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 300px;
  height: 150px;
  padding-left: 40px;
  background-color: #CCCCCC;
  color: #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
}

.instructions-box {
  align-items: center;
  padding-left: 0px;
}

#wins-span {
  color: green;
}

#losses-span {
  color: red;
}

.win-or-lose-box {
  display: none;
  text-align: center;
  padding-left: 0px;
}